<launch>  
  <arg name="map_file" default="$(find indoor)/maps/p203ktx.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
  <param name="frame_id" value="map" />
  </node>

  <include file="$(find indoor)/launch/my_robot_bringup.launch" />
  <include file="$(find indoor)/launch/my_robot_localization.launch" />
  <include file="$(find indoor)/launch/amcl_diff.launch"/>
  <include file="$(find indoor)/launch/my_dwa.launch" />

</launch>
